<!-- ________________________________________________________________________________________________________________
    La ligne en EJS permet de faire le lien vers le header et vers le footer
    +paragraphe affichant les mentions légales
________________________________________________________________________________________________________________ --> 


<%- include('partials/header.ejs') %>
<main>
<div class="legal-bis">
<div class="legal">

    <h1>Mentions légales</h1>
    </br>
    <h2>Groupe NG (Marketplace)</h2>
    </br>
    <p>La société NG a été mandatée en qualité d’agent de la société HIPAY ME, établissement de monnaie électronique 
    agréé de droit belge, au capital de 54.826.000,00 euros, immatriculée au registre des personnes morales sous 
    le numéro 0897928802, dont le siège social se situe au 19 Avenue des Volontaires – 1160 AUDERGHEM - BELGIQUE) 
    et vous propose à ce titre d’entrer en relation avec la société HIPAY ME afin d’ouvrir un compte de paiement 
    auprès d’HIPAY ME et de conclure avec HIPAY ME une convention de services de paiement pour traiter vos opérations 
    commerciales (CGU). Les CGU seront présentes dans le contrat d'adhésion signé entre le vendeur et Groupe NG Les 
    informations relatives à l’agrément délivré par la BNB (Banque Nationale de Belgique) à HIPAY ME peuvent être 
    consultées en cliquant sur le lien suivant</p>
    </br>
    <h2>Propriété intellectuelle</h2>
    </br>
    <p>Nous vous informons que toute reproduction ou représentation totale ou partielle, par quelque procédé que ce 
    soit, de ce site, des logos, des images pouvant y figurer est interdite sans l’autorisation expresse du Groupe 
    NG et constituerait une contrefaçon sanctionnée par les articles L 335-2 et suivants du Code de la propriété intellectuelle.</p>
    </br>
    <h2>Protection des données personnelles</h2>
    </br>
    <p>Notre politique de protection des données personnelles est disponible ici</p>
    </br>
    <h2>Médiation</h2>
    </br>
    <p>Conformément à l’article L156-1 du code de la consommation, le consommateur est informé de la possibilité 
    de recourir, en cas de contestation, à une procédure de médiation conventionnelle ou à tout autre mode 
    alternatif de règlement des différends. Le Groupe NG adhère à la Fédération du e-commerce et de la vente 
    à distance (FEVAD) et au service de médiation du e-commerce (60 rue la Boétie – 75008 PARIS – relationconso@fevad.com). 
    Le consommateur est également informé de l’existence de la plateforme mise en ligne par la Commission européenne qui a 
    pour objet de recueillir les éventuelles réclamations issues d’un achat en ligne des consommateurs européens et de transmettre 
    ensuite les cas reçus aux médiateurs nationaux compétents :http://ec.europa.eu/consumers/odr/</p>
    
</div>
</div>
</main>
<%- include('partials/footer.ejs') %>