<!-- ________________________________________________________________________________________________________________
    Grâce à EJS, il est possible de mettre en place un "partial" soit (ici) un footer s'affichant sur toutes les autres views
________________________________________________________________________________________________________________ --> 
<footer>
<div class="footix">
<nav name="menu de navigation de bas de page">
        <div class="boutons">
        <ul>
            <li><a href="/legal">Mentions légales</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        </div>
</nav>
</div>
</footer>


</body>
</html>


