<!-- ________________________________________________________________________________________________________________
    Grâce à EJS, il est possible de mettre en place un "partial" soit (ici) un header s'affichant sur toutes les autres views

    +les 2 scripts Fontawesome permettent d'utiliser des logos spécifiques
________________________________________________________________________________________________________________ --> 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Nessla-Gaming - Vendeur de composants d'ordinateur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/design.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script defer src="https://use/fontawesome.com/releases/v5.0.6/js/all.js"></script>
    
  </head>
  
  <header>
  <body>

    <!-- NAVIGATION -->
    <nav name="Menu de navigation"> 
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>

      <label class="logo"> <a href="/">Nessla-Gaming</a></label>
      <ul name="Choix de la page">
        <li><a class="active" href="/">Accueil</a></li>
        <li><a href="/ajouter">Ajouter un produit</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
  
    </nav>
</header>
